<div id="my-edit-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="my-edit-modal-label">Finish Product Count</h4>
            </div>
            <div class="modal-body">
                <div id="edit-modal-view"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="table-responsive">
<table class="table webkit-nowrap w-100" id="cycle-datatable">
    <thead>
        <tr>
            <th hidden>StockId</th>
            <th hidden class="noExport">LocationId</th>
            <th>LocationName</th>
            <th class="noExport">ProductSku </th>
            <th class="noExport">Product</th>
            <th class="noExport">TotalAvailable </th>
            <th class="noExport"> LastCounted</th>
            <th class="noExport">
                Actions
            </th>
            <th hidden>
                SKU
            </th>
            <th hidden>
                #
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>