<div class="table-responsive">
    <table class="table dt-responsive webkit-nowrap w-100" id="purchase-order-datatable">
        <thead>
            <tr>
                <th>
                    <a>Purchase Order Number</a>
                </th>
                <th>
                </th>
                <th>
                    <a>Vendor Name</a>
                </th>
                <th>
                    <a>Status</a>
                </th>
                <th>
                    <a>Reference Number</a>
                </th>
                <th>
                    <a>Notes</a>
                </th>
                <th>
                    <a>Order Date</a>
                </th>
                <th>
                    <a>Estimated Date</a>
                </th>
                <th>
                    <a>ModifyDate</a>
                </th>
                <th>
                    <a>Attachments</a>
                </th>
                <th>
                    <a>Is Active</a>
                </th>
                <th>
                    <a>Actions</a>
                </th>
            </tr>
        </thead>
    </table>
</div>
