@model IEnumerable<ERPWebApp.Models.Company.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/datatablecoloring.css">
    <link rel="stylesheet" type="text/css" href="~/css/sliderbutton.css">
</head>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Employees</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-10 mt-1">
                        @if (User.IsInRole(RoleList.Administrator) || User.IsInRole(RoleList.HRManager))
                        {
                            <div typeof="button" class="btn btn-dark">
                                <a class="nav-link" asp-action="Create">
                                    Create
                                </a>
                            </div>
                        }
                    </div>
                    @if (User.IsInRole(RoleList.Administrator) || User.IsInRole(RoleList.Manager))
                    {
                        <div class="col-12 col-md-2 col-lg-1">
                            <label style="white-space: nowrap;">Is Active</label>
                            <br>
                            <label class="switch">
                                <input type="checkbox" id="custom-switch-2" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    }
                    <div id="filtered-orders-partial">
                        @{
                            await Html.RenderPartialAsync("PartialIndex", Model);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            var employeesTable= $("#employee-datatable").DataTable({
                keys: !0, language: {
                    paginate: {
                        previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"
                    },

                }, drawCallback: function () {
                    $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
                }
            });

            $("#custom-switch-2").click(function () {
                var switchStatus = false;
                if ($(this).is(':checked')) {
                    switchStatus = $(this).is(':checked');
                }
                else {
                    switchStatus = $(this).is(':checked');
                }
                var url = '@Url.Action("ToggleActive")';
                $.getJSON(url, { id: switchStatus }).done(function () {
                    console.log("PartialViewTable Loading");
                    //Recalled DataTable in Load to wait for data is allocated in the table before reloading it
                    //otherwise DataTable does not work
                    $('#filtered-orders-partial').load('/Employees/PartialViewTableShow', function (response) {
                        var employeesTable = $("#employee-datatable").DataTable({
                            keys: !0, language: {
                                paginate: {
                                    previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"
                                },

                            }, drawCallback: function () {
                                $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
                            }
                        });
                        console.log("PartialViewTable Reloaded");
                    });
                });
            });
        });
    </script>

    }
