@model IEnumerable<ERPWebApp.Models.SalesReport>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start mb-3">
                        <img src="~/Images/ERPLogo.png" height="30" />
                    </div>
                    <div class="float-end">
                        <h4 class="m-0 d-print-none">Sales Report</h4>
                    </div>
                </div>
                <!--Invoice Logo-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="float-start mt-3">
                            <p><b id="store-name-listing">Hello, </b></p>
                            <p class="text-muted font-13">Please find below a cost-breakdown for the orders completed. Please make payment at your earliest convenience, and do not hesitate to contact us with any questions.</p>
                        </div>
                    </div><!-- end col -->
                    <div class="col-sm-4 offset-sm-2">
                        <div class="mt-3 float-sm-end">
                            <p class="font-13"><strong>Order Date: </strong> &nbsp;&nbsp;&nbsp; <b id="order-date-listing"></b></p>
                        </div>
                    </div><!-- end col -->
                </div>
                <div class="row d-print-none">
                    <div class="col-3">
                        <label for="store-dropdown">Store</label>
                        <select id="store-dropdown" class="form-control select2" data-toggle="select2">
                            <option class="dropdown-item" value="">None</option>
                        </select>
                    </div>
                    <div class="col-6">

                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label">Date Range</label>
                            <input type="text" id="daterange" class="form-control date" data-toggle="date-picker" data-cancel-class="btn-light" />
                            <input type="hidden" id="startDate" name="startDate" />
                            <input type="hidden" id="endDate" name="endDate" />                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive" id="partial-table">
                            @{
                                await Html.RenderPartialAsync("PartialIndex");
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="float-end mt-3 mt-sm-0">
                            <p>
                                <b>Sub-total:</b>
                                <span id="sub-total" class="float-end"> $0.00</span>
                            </p>
                            <p>
                                <b>Shipping:</b>
                                <span id="shipping-total" class="float-end"> $0.00</span>
                            </p>
                            <h3 id="total-cost">$0,000.00</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="d-print-none mt-4">
                    <div class="text-right">
                        <a href="javascript:window.print()" class="btn btn-primary">
                            <i class="mdi mdi-printer"></i>
                            Print
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script src="~/js/pages/sales-report.min.js"></script>

        <script type="text/javascript">
                  var url = @Url.Action("GetStores");
                    $.getJSON(url, function (response) {
                        addStores(response);
                    });
            $(document).ready(function () {
            $('#store-dropdown').on('select2:select', function () {
                $('#store-name-listing').text('Hello, '+ $("#store-dropdown").select2('data')[0].text);
                if ($("#selectedValue").text() != "") {
                    getInvoiceData();
                }
            });
            // Initialize daterangepicker
                $('#singledaterange').daterangepicker({
                    autoUpdateInput: false,
                    opens: 'left',
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                });

                // Update the display input when the date range changes
                $('#singledaterange').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));

                    // Set the values of the hidden input fields
                    $('#startDate').val(picker.startDate.format('MM/DD/YYYY'));
                    $('#endDate').val(picker.endDate.format('MM/DD/YYYY'));
                    if ($("#store-dropdown").val() != 0) {
                    getInvoiceData();
                }
                    // Submit the form
                    $('#dateForm').submit();
                });

                // Clear the display input when the cancel button is clicked
                $('#singledaterange').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });
            $('#daterange').on('apply.daterangepicker', function () {
                $('#order-date-listing').text(
                    $('#daterange').data('daterangepicker').startDate.format('M/D/YY') + ' - ' +
                    $('#daterange').data('daterangepicker').endDate.format('M/D/YY'));
                if ($("#store-dropdown").val() != 0) {
                    getInvoiceData();
                }
            });
           });
        </script>
}