@model ERPWebApp.Models.Company.Security.AccessPlan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AccessPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-1">
                <label asp-for="AccessPlanName" class="control-label"></label>
                <input asp-for="AccessPlanName" class="form-control" />
                <span asp-validation-for="AccessPlanName" class="text-danger"></span>
            </div>
            <div class="form-group p-1 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Has24HourAccess" checked /> @Html.DisplayNameFor(model => model.Has24HourAccess)
                </label>
            </div>
            <div class="form-group p-1">
                <label asp-for="EarliestCheckInTime" class="form-label">Default Time Picker</label>
                <div class="input-group" id="timepicker-input-group1">
                    <input id="start-timepicker" type="text" class="form-control" asp-for="EarliestCheckInTime" data-provide="timepicker">
                    <span class="input-group-text"><i class="dripicons-clock"></i></span>
                </div>
            </div>
            <div class="form-group p-1">
                <label asp-for="LatestCheckInTime" class="form-label">Default Time Picker</label>
                <div class="input-group" id="timepicker-input-group2">
                    <input id="end-timepicker" type="text" class="form-control" asp-for="LatestCheckInTime" data-provide="timepicker">
                    <span class="input-group-text"><i class="dripicons-clock"></i></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" checked /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group p-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="p-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
        $('#start-timepicker').timepicker({
            "showSeconds": false,
            icons: {
                up: 'mdi mdi-chevron-up',
                down: 'mdi mdi-chevron-down'
            },
            appendWidgetTo: "#timepicker-input-group1"
        });
        $('#end-timepicker').timepicker({
            "showSeconds": false,
            icons: {
                up: 'mdi mdi-chevron-up',
                down: 'mdi mdi-chevron-down'
            },
            appendWidgetTo: "#timepicker-input-group2"
        });
    });
</script>    

}
