
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Dialog Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="data:image/png;base64,@ViewBag.Base64Barcode" class="img-thumbnail" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" id="btnDownload">Download</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/lindell/JsBarcode/3.11.0/dist/JsBarcode.all.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnDownload").click(function () {
                // Make an AJAX request to the controller method
                $.ajax({
                    url: '@Url.Action("GenerateAndDownloadBarcode", "Sites")',
                    type: 'GET',
                    success: function (result) {
                        // Handle the success response
                        // You can update the UI or perform any other action here
                        console.log(result);
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response
                        console.log(error);
                    }
                });
            });
        });
    </script>
}