
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome!</h1>

<div>You have now entered the ERP Web App or better known as ERP.</div>
<div>We are so glad you are here!</div>

@*<div>To view your store's margin information chart, please visit the 'Seller Margins' tab of the navigation bar</div>*@